/* Estilo cookies */
#overbox3 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    display: block;
}
#infobox3 {
    margin: auto;
    position: relative;
    top: 0px;
    height: 60px;
    width: 100%;
    text-align:center;
    background-color: #000000;
}
#infobox3 p {
    font-family: none;
    color: #fff;
    line-height:60px;
    font-size:14px;
    

}
#infobox3 p a {
    cursor: pointer;
    font-family: none;
    margin-right: 10px;
    text-decoration: underline;
 
}

#infobox3 p a:-webkit-any-link {
    color: #5374dffd;
}